*{word-wrap: break-word;}
.post_table{}
.user_td {
    width: 30%;
}
.user_div{}
.user_avatar_div{}
.avatar_img {
    max-width: 100%;
    max-height: 100%;
}
.username_div{}
.nickname_div{}
.userlevel_div{}
.mainpost_td{width: 70%;}
.mainpost_table{}
.post_td{}
    .post_td > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
